<div class="jumbotron">
     <div class="container">
       <h1 class="display-3">Bienvenue sur mon site de création d'utilisateurs !</h1>
       <p>Vous allez pouvoir choisir 3 méthodes différentes de création.</p>
     </div>
   </div>

   <div class="container">
     <div class="row">
       <div class="col-md-4">
         <h2>HTML</h2>
         <p><a class="btn btn-secondary" href="/new" role="button">Let's go ! &raquo;</a></p>
       </div>
       <div class="col-md-4">
         <h2>Form_tag</h2>
         <p><a class="btn btn-secondary" href="/new_tag" role="button">Let's go ! &raquo;</a></p>
       </div>
       <div class="col-md-4">
         <h2>Form_for</h2>

         <p><a class="btn btn-secondary" href="/new_for" role="button">Let's go ! &raquo;</a></p>
       </div>
     </div>
     <center>
     Utilisateurs déjà créés :
     <hr>
     <p>
     <% User.all.each do |users| %>
       <p>
       <div>
         <p><strong><%= users.username %></strong></p>
         <p><%= users.email %></p>
         <p><%= users.bio %></p>
         <hr>
       </div>
       </p>
     <% end %>
     </p>
     </center>
